{%extends "base.html" %}

<!--headタグ内の設定-->
{% block title %}マナ部 新規登録{% endblock %}
{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css')}}"> 
 
{% endblock %}


<!--bodyタグ内のコード-->
{% block content %}
<div class="page">
    <!-- メイン -->
    <main>
        <div class="page-title">新規登録</div>

        <p class="auth-subtitle">ユーザー情報を入力して新規登録してください。</p>

        <!--フォーム入力-->
        <form class="auth-form" action="{{url_for('auth.signup_process')}}" method="post">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">  <!--暗号トークンをform送信-->
            <!--ユーザー名入力-->
            <div class="user-info">
                <label>ユーザー名</label>
                <input type="text" name="username" placeholder="ユーザー名" required>
            </div>

            <!--メールアドレス入力-->
            <div class="user-info">
                <label>メールアドレス</label>
                <input type="text" name="email" placeholder="メールアドレス" required>
            </div>
            
            <!--パスワード入力-->
            <div class="user-info">
                <label>パスワード</label>
                <input type="password" name="password" placeholder="パスワード" required>
            </div>

            <!--パスワード（確認用）入力-->
            <div class="confirm-password user-info">
                <label>パスワード（確認用）</label>
                <input type="password" name="password_confirmation" placeholder="パスワード（確認用）" required>
            </div>

            <!--招待コード入力 -->
            <div class="user-info">
                <label>招待コード</label>
                <input type="text" name="invite_code" placeholder="招待コード" required>
            </div>
            
            <!--ログイン・画面遷移ボタン-->
            <div class="auth-botton-container">
                <button class="auth-botton" type="submit">登録</button>
                <a class="switch-auth-mode" href="{{url_for('auth.login_view')}}">ログインはこちら</a>
            </div>

        </form>
    </main>
</div>
{% endblock %} 